<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
 
  <div class="form-inputs">
    <li><%= f.input :firstname, input_html: {class:"input", placeholder: "Prenom"}, wrapper: false %></li>
    <li><%= f.input :lastname, input_html: {class:"input", placeholder: "Nom de famille"}, wrapper: false %></li>
    <li><%= f.input :position, input_html: {class:"input", placeholder: "Position Occupee"}, wrapper: false %></li>
    <li><%= f.input :facebook_link, input_html: {class:"input", placeholder: "Lien Facebook"}, wrapper: false %></li>
    <li><%= f.input :twitter_link, input_html: {class:"input", placeholder: "Lien Twiter"}, wrapper: false %></li>
    <li><%= f.input :email, input_html: {class:"input", placeholder: "Email"}, wrapper: false %></li>
    <li><%= f.file_field :image, input_html: {class:"input", placeholder: "Image"}, wrapper: false %></li>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, 'Creer Une Membre',  class:"btn-style btn-md bo-ra-5" %>
  </div>
  
<% end %>

