<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <li><%= f.input :firstname, input_html: {class:"input", placeholder: "Non"}, wrapper: false %></li>
    <li><%= f.input :lastname, input_html: {class:"input", placeholder: "Siyati"}, wrapper: false %></li>
    <li><%= f.input :position, input_html: {class:"input", placeholder: "Pozisyon"}, wrapper: false %></li>
    <li><%= f.input :facebook_link, input_html: {class:"input", placeholder: "Lyen FacebooK"}, wrapper: false %></li>
    <li><%= f.input :twitter_link, input_html: {class:"input", placeholder: "Lyen Twiter"}, wrapper: false %></li>
    <li><%= f.input :email, input_html: {class:"input", placeholder: "Email"}, wrapper: false %></li>
    <li><%= f.file_field :image, input_html: {class:"input", placeholder: "Imaj"}, wrapper: false %></li>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn-style btn-md bo-ra-5" %>
  </div>
<% end %>

