<% provide(:title, "Series") %>


<div class="main-area">
    

    <section class="our-gallery pt-90 pb-60">
        <div class="container">
            <div class="row">       
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h2>Series <span>Ecrites</span></h2>
                        <img src="img/title-bottom.png" alt="">
                    </div>
                </div>
                     
                <div class="gallery-area">
                    <div class="col-sm-12">
                        <div class="gallery-menu text-center">
                            <nav>
                                <ul>
                                    <li class="filter" data-filter="all">Toutes</li>
                                    <li class="filter" data-filter="Charity">Politique</li>
                                    <li class="filter" data-filter="Nature">Humours</li>
                                    <li class="filter" data-filter="Wildlife">Policier</li>
                                    <li class="filter" data-filter="Video">Actions<li>                                                                
                                    <li class="filter" data-filter="Children">Dessins Animes</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="gallery-filter">
                        <div class="blog"><!-- Start blog -->
                            <% @serials.each do |serial| %><!-- Start of loop -->
                                <div class="gallery-image-and-text">
                                    <div class="col-sm-4">
                                        <div class="single-blog mb-30"> <!-- single blog starts here -->
                                            <div class="blo-image-and-date text-center" id="blo-image">
                                                <%= image_tag serial.image if serial.image.attached? %>
                                            </div>
                                            <div class="blog-text">
                                                <h3>
                                                    <%= link_to serial do %>
                                                        <%= serial.mainTitle %>
                                                    <% end %>
                                                </h3>
                                                  <%= link_to serial do %>
                                                    <p style="margin-top: -2rem; float:right !important; margin-bottom: 0rem;"> Description <span class="icon is-small"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span> </p>
                                                <% end %> 
                                              

                                                    <p id="para">
                                                        <em>
                                                            <small>
                                                                Publie il y a <%= time_ago_in_words(serial.created_at) %>, par: <%= serial.user.username %> <%= serial.user.userlastname %> 
                                                            </small>
                                                        </em>
                                                    </p>
                                                       
                                             
                                                   
                                                  <% if serial_author(serial) || has_role?(:admin) %>
                                                    <div class="column has-text-left"> 
                                                        <%= link_to edit_serial_path(serial) do %>
                                                            <span class="icon is-small"><i class="fa fa-pencil"></i></span>
                                                        <% end %> |
                                                        <%= link_to serial, method: :delete, data: {confirm: "En etes vous sure?" } do %>
                                                            <span class="icon is-small"><i class="fa fa-trash-o"></i></span>
                                                        <% end %>
                                                    </div>
                                                    <% else %>
                                                        <div class="column has-text-left">
                                                            <span class="icon is-small"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span>
                                                        </div>
                                                    <% end %>

                                                    <%= link_to serial do %>
                                                        <p style="margin-top: -2rem; float:right !important; margin-bottom: 0rem;"> Les Episodes
                                                            <span> <i class="fa fa-plus-square-o" aria-hidden="true"></i></span>
                                                        </p>
                                                    <% end %>
                                                     
                                            </div>      
                                        </div> <!-- End single blog -->
                                    </div>                         
                                <% end %> <!-- Loop ends here -->
                            </div> <!-- End blog -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
             

    
    