<%= simple_form_for(@partner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :image%>
    <%= f.input :official_link %>
    <%= f.input :company_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
