
<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <div class="input-block-level">
      <li><%= f.input :company, input_html: { class: 'input', placeholder:"Nom de la compagnie" }, wrapper: false, label_html: { class: 'label' } %></li>
      <li><%= f.input :job_title, input_html: { class: 'input', placeholder:"Domaine de fonctionnement" }, wrapper: false, label_html: { class: 'label' } %></li>
      <li><%= f.input :position, input_html: { class: 'input', placeholder:"Votre position" }, wrapper: false, label_html: { class: 'label' } %></li>
      <li><%= f.input :description, input_html: { class: 'input', placeholder:"Description du poste" }, wrapper: false, label_html: { class: 'label' } %></li>
      <li><%= f.input :location, input_html: { class: 'input', placeholder:"Addresse" }, wrapper: false, label_html: { class: 'label' } %></li>  
       <li><%= f.input :link, input_html: { class: 'input', placeholder:"Lien electronique de l'emplois" }, wrapper: false, label_html: { class: 'label' } %></li>  
      <li> <strong>Ouvri:</strong><%= f.input :opening_date %></li>
      <li><strong>Bout:</strong><%= f.input :closingdate %></li>
    </div>
   <div class="field">
     <div class="control">
       <%= f.button :submit, 'Creer Un Emplois', class:"btn-style btn-md bo-ra-5" %>
     </div>
   </div>
<% end %>