
<%= simple_form_for(@scene) do |f| %>
   <%= f.error_notification %>

  
 
     <li> <%= f.input :title, input_html: { class: "input", type: "text",placeholder:"Titre de 'episode" }, wrapper: false %></li>
     <li><%= f.rich_text_area :content, required: true, input_html: { class: 'textarea' } %>
      <%= f.file_field :image, input_html: {class: "input-block-level"} %>
      
      <div class="field">
          <div class="control has-icons-left">
            <span class="select">
                <% if @serials %>
                    <%= f.input_field :serial_id, collection:@serials.map{ |c| [c.mainTitle, c.id] }, prompt: "Choisissez la Serie" %>
                <% end %>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-tag"></i>
            </span>
          </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.button :submit, class:"btn-style btn-md bo-ra-5" %>
        </div>
    </li>
    <% end %>
</div>
