

<%= simple_form_for(@interest) do |f| %>
   <%= f.error_notification %>
     <li> <%= f.input :title, input_html: { class: "input", type: "text",placeholder:"Votre seteur" }, wrapper: false %></li>
     <li> <%= f.input :shortdescription, input_html: { class: "input", type: "text",placeholder:"Description" }, wrapper: false %></li>
     <%= f.file_field :image, input_html: {class: "input-block-level"} %>


  <div class="field">
    <div class="control">
      <%= f.button :submit, "Creer Un Interet" class:"btn-style btn-md bo-ra-5" %>
    </div>
  </div>

<% end %>